<h3>
  JS CNC Gcode Facing Generator
</h3>
<p>
  <small>
    A tool for generating XY values for facing stock in my CNC machine based on
    X home being the middle of X travel (machine can move X-/X+ the same
    amount).
  </small>
</p>
<div class="gridContainer">
  <div>
    <div>Input:</div>
    <p>
      Cutting Direction:
      <select id="jsGcodeFacingDir">
        <option>X</option>
        <option>Y</option>
      </select>
    </p>
    <p>
      Bit diameter (mm)
      <input
        class="textInput"
        type="number"
        id="jsGcodeFacingBit"
        min="1"
        max="100"
        value="25"
        step="0.001"
        pattern="[0-9]+"
        onkeyup="updateVals(this)"
      />
    </p>
    <p>
      Stock Width (mm)
      <input
        class="textInput"
        type="number"
        id="jsGcodeFacingWidth"
        min="1"
        max="1000"
        value="440"
        step="0.01"
        pattern="[0-9]+"
        onkeyup="updateVals(this)"
      />
    </p>
    <p>
      Stock Length (mm)
      <input
        class="textInput"
        type="number"
        id="jsGcodeFacingLength"
        min="1"
        max="1000"
        value="500"
        step="0.01"
        pattern="[0-9]+"
        onkeyup="updateVals(this)"
      />
      <button id="jsGcodeFacingBtn">Generate</button>
    </p>
  </div>
  <div>
    <p>
      Output (click to copy):
    </p>
    <textarea
      id="jsGcodeFacingOutput"
      value=""
      rows="10"
      cols="30"
      placeholder="Gcode Output"
    ></textarea>
  </div>
</div>
<%- include ../backToTop.ejs %>
