<h3>
  Task list
</h3>
<div class="gridContainer">
  <div>
    <p>
      Task to add:
      <input id="checklistInput" class="textInput" type="text" />
      <button id="checklistAddButton">Add</button>
    </p>
  </div>
  <div>
    <p>Task List:</p>
    <div id="checklistOutput"></div>
  </div>
</div>
<%- include ../backToTop.ejs %>
