/* colors  */
/* blue = #059cd1  */
/* lt.gray = #b0b0b0  */
/* drk.gray = #3a3a3a  */
/*  */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #3a3a3a;
}
a{
    text-decoration: none;
}
#about{
    display: none;
    visibility: hidden;
}
#particles-js{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
}
#portfolio_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 40px);
    height: 40px;
    padding: 20px;
    background: rgba(58, 58, 58, .9);
    color: #fff;
    font-size: 2em;
    text-align: center;
    box-shadow: 0px 2px 5px #222;
    z-index: 100;
    overflow: hidden;
}
nav span{
    float: left;
    text-align: left;
}
/*  new nav menu */

.menu_toggle {
    width: 40px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin-left: 10px;
}
.menu_toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
}
.menu_toggle.on .two {
    opacity: 0;
}
.menu_toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}
.one,
.two,
.three {
    width: 100%;
    height: 5px;
    background: #fff;
    margin: 6px auto;
    backface-visibility: hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav ul.hidden {
    opacity: 0;
    margin-right: -500px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav ul{
    opacity: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav ul.hidden a{
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav ul a {
    opacity: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    line-height: 1;
    width: 100%;
    display: block;
}

nav a:hover{
    color: #059cd1;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    float: right;
}
nav li{
    float: left;
    margin: 0 10px;
} 

header, section{
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    min-height: 200px;
    width: calc(70% - 80px);
    background: rgba(255,255,255,.8);
    padding: 40px;
    text-align: center;
}
header{
    font-size: 1.25em;
    width: calc(70% - 160px);
    padding: 40px 80px;
}
section{
    min-height: 50px;
    margin-top: 30px;
}
header img{
    width: 225px;
    height: auto;
    border-radius: 15%;
    margin: 0 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header img:hover{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header p{
    padding: 0 10%;
    text-align: justify;
}
header span{
    font-style: italic;
}
.title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0 0 5% 0; 
}
.title_alt{
    margin: 0;
}
.skill_container{
    display: inline-block;
    vertical-align: top;
    width: calc(16% - 4px);
}

.skill_header{
    background: rgba(58, 58, 58, .9);
    padding: 10px 10px;
    color: #fff;
    border: 0px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.skill_header:hover{
    background: #059cd1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.skill{
    border: 1px solid #cdcdcd;
    border-top: 0px;
    padding-bottom: 10px;
    cursor: default;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.skill:hover{
    background: #3a3a3a;
    color: #fff;
    padding-top: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.skill img{
    display: inline-block;
    max-height: 12px;
    width: auto; 
    filter: grayscale(100%) contrast(100%);
}
.skill:hover img{
    filter: grayscale(100%) invert(100%);
}
.last{
    margin-right: 0;
}
#project_container{
    margin-bottom: 40px;
}
.project_wrap{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(46% - 4px);
    margin-right: 2%;
}
.project_wrap:first-child{
    margin-top: 0;
}
.project_wrap a{
    color: rgba(58, 58, 58, .9);
}
.project_header{
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px #9f9f9f;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.project_header:hover{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    box-shadow: 5px 5px 10px #777;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#contact_methods{
    margin-bottom: 40px;
}
#contact_methods a{
    display: inline-block;
    margin: 0 15px;
    color: rgba(58, 58, 58, .9);
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#contact_methods a:hover{
    color: #059cd1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media screen and (max-width: 1120px) {
    header p{
        padding: 0 10%;
    }
    .skill_sub{
        padding: 0 15%;
    }
    #skills_flex{
        display: block;
    }
    .skill_container{
        width: 33%;
    }
}
@media screen and (max-width: 960px) {
    #skills_flex{
        display: block;
    }
    .skill_container{
        width: calc(33% - 4px);
    }
    .project_wrap{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header, section{
        margin: 0 auto;
        width: 94%;
        padding: 3%;
        margin-top: 10%;
        font-size: 1.5em;
    }
    header{
        margin-top: 20%;
    }
    .skill_container{
        width: calc(33% - 4px);
    }
    .skill_sub{
        padding: 0 5%;
    }
    .project_wrap{
        float: left;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 414px) {
    nav{
        position: fixed;
        display: block;
        width: 94%;
        height: auto;
        padding: 3%;
        text-align: center;
    }
    nav span{
        display: none;
        float: none;
    }
    nav ul li a{
        opacity: 1;
        margin: 0;
    }
    nav ul{
        margin: 0px;
        padding: 0;
        float: none;
        opacity: 1;
    }
    nav ul li{
        opacity: 1;
        margin: 0 10px;
    }
    nav ul.hidden {
        display: inline-block;
        opacity: 1;
        margin-right: 0px;
    }
    nav ul.hidden a{
        opacity: 1;
    }
    nav ul a {
        opacity: 1;
    }
    .menu_toggle{
        display: none;
    }
    
    header, section{
        margin: 0 auto;
        width: 94%;
        padding: 3%;
        margin-top: 10%;
        font-size: 1.1em;
    }
    header{
        margin-top: 20%;
    }
    header p{
        padding: 0;
        text-align: center;
    }
    .skill_container{
        width: calc(50% - 4px);
    }
    #project_container{
        margin-bottom: 20px;
    }
    .project_wrap{
        float: left;
        width: 100%;
        margin-bottom: 40px;
    }
    .project_header{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    #contact_methods{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 375px){
    header h2{
        font-size: 1.25em;
    }
}