<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Itsa Gonna Be a Baby!</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/baby.css" />
  </head>
  <body>
    <section class="header-images">
      <img class="header-img" src="images/baby/carrier.png" />
      <img class="header-img" src="images/baby/onesie.png" />
      <img class="header-img" src="images/baby/mobile.png" />
      <img class="header-img" src="images/baby/bear.png" />
      <img class="header-img" src="images/baby/horse.png" />
      <img class="header-img" src="images/baby/blocks.png" />
    </section>
    <section class="main">
      <h1>Virtual Baby Shower</h1>
      <p>
        Thank you for helping us celebrate the arrival of Megan & Mathew’s first
        tiny human
      </p>
    </section>
    <section>
      <p class="section-title">
        Registry Information
			</p>
			<p>
				We have set up an Amazon list for your purchasing pleasure.
			</p>
			<p>
				All gifts received by go time will be opened on video! Don't be left out!
			</p>
			<p>
				<a class="anchor" href="https://www.amazon.com/baby-reg/megan-cohen-mathew-cohen-july-2020-lakestevens/14YDR5MBFAXNQ" target="_blank">Click here to spend your stimulus money!</a>
			</p>
    </section>
    <section class="devices">
      <p class="section-title">
        Device Setup
      </p>
      <p>
				On a non-mobile device? (Computer, Laptop, etc)</br>
				Click here: Link will be available 10 minutes before start time.
				<!-- <a href="https://meet.jit.si/" target="_blank">Join Now</a> -->
      </p>
      <p>
				On a mobile device? (iPad, iPhone, Android (Google), etc)</br>
				Choose your app store:
				<p>
					<a href="https://apps.apple.com/us/app/jitsi-meet/id1165103905" target="_blank"><img src="images/baby/apple.png" /></a>
					<a href="https://play.google.com/store/apps/details?id=org.jitsi.meet" target="_blank"><img src="images/baby/android.png" /></a>
				</p>
				And then return to this page and click this link to join: Link will be available 10 minutes before start time.
				<!-- <a href="https://meet.jit.si/" target="_blank">Join Now</a> -->
      </p>
    </section>
  </body>
</html>
