<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathew Cohen Dot Com</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
  <div id="particles-js"></div>
  <div id="portfolio_container">
    <p id="about"></p>
    <nav>
      <span>Mathew Cohen</span>
      <div class="menu_toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <ul role="navigation" class="hidden">
        <li><a href="#about" title="About"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="#skills" title="Skills"><i class="fa fa-cubes" aria-hidden="true"></i></a></li>
        <li><a href="#projects" title="Projects"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
        <li><a href="#contact" title="Contact"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/mathewjcohen" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mathew-cohen-9223ba5a/" target="_blank" title="Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    <header>
      <h2>My name is <strong>Mathew Cohen</strong>.</h2>
      <img src="images/me.jpg" alt="Me, Mathew Cohen, duh.">
      <p>I am a self-motivated, passionate, knowledge-driven developer<br>with experience and interest in a multitude of fields
        and disciplines.</p>
      <p>I have over 20 years of combined experience in a number of industries such as Front-End Development, Information Technology,
        Content/Media Creation, Audio/Mix Engineering, Production Coordination, Artist/Media Relations, Project Management,
        3D Product Design and Fabrication, Cabinetry and Furniture making, and as a Touring/Studio Musician.</p>
      <p>I am continually learning new disciplines, taking on new hobbies,<br>and am learning all that I can in an attempt to
        satiate my thirst for knowledge.</p>
      <p id="skills"></p>
    </header>
    <section>
      <p class="title title_alt">Skills</p><br>
      <div class="skill_container">
        <p class="skill_header">Languages</p>
        <p class="skill_hover">HTML <span class="ease"></span></p>
        <p class="skill_hover">CSS</p>
        <p class="skill_hover">Javascript</p>
        <p class="skill_hover">Python</p>
        <p class="skill_hover">C#</p>
        <p class="skill_hover">TypeScript</p>
        <p class="skill_hover">PHP</p>
        <p class="skill_hover">Perl</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Front-End</p>
        <p class="skill_hover">jQuery</p>
        <p class="skill_hover">AJAX</p>
        <p class="skill_hover">Angular</p>
        <p class="skill_hover">Template Toolkit</p>
        <p class="skill_hover">Hand-Coded</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Back-End</p>
        <p class="skill_hover">Django</p>
        <p class="skill_hover">Node.js</p>
        <p class="skill_hover">Flask</p>
        <p class="skill_hover">Express.js</p>
        <p class="skill_hover">ASP.NET Core</p>
        <p class="skill_hover">Socket.io</p>
        <p class="skill_hover">AWS EC2</p>
        <p class="skill_hover">Azure</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Database</p>
        <p class="skill_hover">MySQL</p>
        <p class="skill_hover">MongoDB</p>
        <p class="skill_hover">Mongoose</p>
        <p class="skill_hover">SQLite</p>
        <p class="skill_hover">NoSQL</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Software</p>
        <p class="skill_hover">Git</p>
        <p class="skill_hover">Adobe Suite</p>
        <p class="skill_hover">MySQL Workbench</p>
        <p class="skill_hover">Open Office Suite</p>
        <p class="skill_hover">Google Docs</p>
        <p class="skill_hover">Visual Studio</p>
        <p class="skill_hover">VS Code</p>
      </div>
      <div class="skill_container last">
        <p class="skill_header">Misc</p>
        <p class="skill_hover">OOP</p>
        <p class="skill_hover">REST</p>
        <p class="skill_hover">Agile</p>
        <p class="skill_hover">Responsive</p>
        <p class="skill_hover">Cinema 4D</p>
        <p class="skill_hover">Fusion 360</p>
        <p class="skill_hover">SketchUp</p>
        <p class="skill_hover">3D Design</p>
      </div>
      <p id="projects"></p>
    </section>
    <section id="project_container">
      <p class="title">Projects</p>
      <div id="projects_wrap">
        <div class="project_wrap">
          <h1><a href="http://evntmngr.mathewcohen.com" target="_blank" title="EVNTSMNGR">EVNTSMNGR</a></h1>
          <a href="http://evntmngr.mathewcohen.com" target="_blank" title="EVNTSMNGR"><img class="project_header" src="images/evntsmngr.jpg" alt="EVNTMNGR Project"></a>
          <p>Tasked with consolidating functionality of multiple 3rd party software packages, EVNTSMNGR aims to fulfill this
            need and increase productivity in managing all aspects of an event within a Convention Center/Arena style facility
            setting.
          </p>
          <p>Future project goals include:</p>
          <ul>
            <li>Browser-based "AutoCad" style diagram/flooplan capabilities</li>
            <li>Box Office/Ticket Sale integration</li>
            <li>Facility Inventory Management</li>
            <li>Customizable forms & mutable database models</li>
            <li>Editable/Customizable Calendar Views</li>
            <li>"Slack" style communication/messaging micro-app/forum</li>
          </ul>
          <p>Built with <strong>MongoDB</strong>, <strong>Express.js</strong>, <strong>Angular</strong>, and <strong>Node.js</strong></p>
        </div>
        <div class="project_wrap">
          <h1><a href="http://flash-codes.mathewcohen.com" target="_blank" title="FlashCodes">FlashCodes</a></h1>
          <a href="http://flash-codes.mathewcohen.com" target="_blank" title="FlashCodes"><img class="project_header" src="images/flashcodes.jpg" alt="FlashCodes Project"></a>
          <p>FlashCodes is a play on the term 'Flash Cards'. I set out to create physical flash cards to help revitalize and
            extend my knowledge for the many languages I've learned, but realized this would be much better suited as a web
            application. So here it is.</p>
          <p>Future project goals include:</p>
          <ul>
            <li>Extend the project to provide more languages</li>
            <li>Allow public sumission (pending approval)</li>
            <li>Spruce up the design (it was made in a hurry, so I'd like to update the aesthetic)</li>
            <li>Add an interactive component for code typing/checking</li>
          </ul>
          <p>Built with <strong>MongoDB</strong>, <strong>Express.js</strong>, <strong>Angular</strong>, and <strong>Node.js</strong></p>

          <p id="contact"></p>
        </div>
      </div>
    </section>
    <section id="contact_methods">
      <p class="title">Contact</p>
      <a href="javascript:location='mailto:\u006d\u0061\u0074\u0068\u0065\u0077\u006a\u0063\u006f\u0068\u0065\u006e\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>

      <a href="https://github.com/mathewjcohen" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>

      <a href="https://www.linkedin.com/in/mathew-cohen-9223ba5a/" target="_blank" title="Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </section>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/68210da710.js"></script>
  <script src="js/site.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'js/particles.json', function () {
      console.log('particles.json loaded...');
    });
  </script>
</body>

</html>