<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mathew Cohen Dot Com</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/styles.css"
      media="screen"
    />
  </head>

  <body>
    <div id="page_wrap">
      <p id="about"></p>
      <nav>
        <div class="container">
          <div class="logo_wrap">
            <a href="/">
              <div class="logo_border">
                <div class="logo">]v[</div>
              </div>
            </a>
          </div>
          <ul>
            <li>
              <a
                href="https://github.com/mathewjcohen"
                target="_blank"
                rel="noopener"
                title="GitHub"
              >
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/mathew-cohen-9223ba5a/"
                target="_blank"
                rel="noopener"
                title="Linked In"
              >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/macoguitars"
                target="_blank"
                rel="noopener"
                title="MaCo Guitars Instagram"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <section id="hero">
        <div class="container">
          <h2>Has beard. Makes stuff.</h2>
          <div id="about_wrap">
            <img src="images/me.jpg" alt="Me, Mathew Cohen, duh." />
            <div id="blurb_wrap">
              <p>
                My name is Mathew Cohen and I'm a serial creator.
              </p>
              <p>
                With over 10 years of professional experience as a Front-End
                Developer, I have a strong understanding of both client and
                server side landscapes as well as a proven record of shipping
                quality code in high-traffic websites and applications with an
                additional focus on delivering great user experiences.
              </p>
              <p>
                I am also passionate about Music Composition and Production,
                Photography, Wood/Metal Working, Guitar and Instrument Building,
                3D Design and 3D Printing, Character Animation and SFX...
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/68210da710.js"></script>
    <script src="js/site.js"></script>
  </body>
</html>
