<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathew Cohen Dot Com</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
  <div id="particles-js"></div>
  <div id="portfolio_container">
    <p id="about"></p>
    <nav>
      <span>Mathew Cohen</span>
      <ul>
        <li><a href="#about" title="About"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="#skills" title="Skills"><i class="fa fa-cubes" aria-hidden="true"></i></a></li>
        <li><a href="#projects" title="Projects"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
        <li><a href="#contact" title="Contact"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/mathewjcohen" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mathew-cohen-9223ba5a/" target="_blank" title="Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    <header>
      <h2>My name is <strong>Mathew Cohen</strong>.</h2>
      <img src="images/me.jpg" alt="Me, Mathew Cohen, duh.">
      <p>I am a self-motivated, passionate, knowledge-driven developer<br>with experience and interest in a multitude of fields
        and disciplines.</p>
      <p>I have over 20 years of combined experience in a number of industries such as Front-End Development, Information Technology,
        Content/Media Creation, Audio/Mix Engineering, Production Coordination, Artist/Media Relations, Project Management,
        3D Product Design and Fabrication, Cabinetry and Furniture making, and as a Touring/Studio Musician.</p>
      <p>I am continually learning new disciplines, taking on new hobbies,<br>and am learning all that I can in an attempt to
        satiate my thirst for knowledge.</p>
      <p id="skills"></p>
    </header>
    <section>
      <p class="title">Skills</p>
      <div class="skill_container">
        <p class="skill_header">Languages</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>Python</p>
        <p>C#</p>
        <p>TypeScript</p>
        <p>PHP</p>
        <p>Perl</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Front-End</p>
        <p>jQuery</p>
        <p>AJAX</p>
        <p>Angular</p>
        <p>Template Toolkit</p>
        <p>Hand-Coded</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Back-End</p>
        <p>Django</p>
        <p>Node.js</p>
        <p>Flask</p>
        <p>Express.js</p>
        <p>ASP.NET Core</p>
        <p>Socket.io</p>
        <p>AWS EC2</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Database</p>
        <p>MySQL</p>
        <p>MongoDB</p>
        <p>Mongoose</p>
        <p>SQLite</p>
        <p>NoSQL</p>
      </div>
      <div class="skill_container">
        <p class="skill_header">Software</p>
        <p>Git</p>
        <p>Adobe Suite</p>
        <p>MySQL Workbench</p>
        <p>Open Office Suite</p>
        <p>Google Docs</p>
        <p>Visual Studio</p>
        <p>VS Code</p>
      </div>
      <div class="skill_container last">
        <p class="skill_header">Misc</p>
        <p>OOP</p>
        <p>REST</p>
        <p>Agile</p>
        <p>Responsive</p>
        <p>Cinema 4D</p>
        <p>Fusion 360</p>
        <p>SketchUp</p>
        <p>3D Design</p>
      </div>
      <p id="projects"></p>
    </section>
    <section id="project_container">
      <p class="title">Projects</p>
      <div class="project_wrap">
        <a href="http://evntmngr.mathewcohen.com" target="_blank" title="EVNTSMNGR"><img class="project_header" src="images/evntsmngr.jpg" alt="EVNTMNGR Project"></a>
        <h3><a href="http://evntmngr.mathewcohen.com" target="_blank" title="EVNTSMNGR">EVNTSMNGR</a></h3>
        <p>Tasked with consolidating functionality of multiple 3rd party software packages, EVNTSMNGR aims to fulfill this need
          and increase productivity in managing all aspects of an event within a Convention Center/Arena style facility setting.
        </p>
        <p>Future project goals include:</p>
        <ul>
          <li>Browser-based "AutoCad" style diagram/flooplan capabilities</li>
          <li>Box Office/Ticket Sale integration</li>
          <li>Facility Inventory Management</li>
          <li>Customizable forms & mutable database models</li>
          <li>Editable/Customizable Calendar Views</li>
          <li>"Slack" style communication/messaging micro-app/forum</li>
        </ul>
        <p>Built with <strong>MongoDB</strong>, <strong>Express.js</strong>, <strong>Angular</strong>, and <strong>Node.js</strong></p>

        <p id="contact"></p>
      </div>
    </section>
    <section id="contact_methods">
      <p class="title">Contact</p>
      <a href="javascript:location='mailto:\u006d\u0061\u0074\u0068\u0065\u0077\u006a\u0063\u006f\u0068\u0065\u006e\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>

      <a href="https://github.com/mathewjcohen" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>

      <a href="https://www.linkedin.com/in/mathew-cohen-9223ba5a/" target="_blank" title="Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/68210da710.js"></script>
  <script src="js/site.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'js/particles.json', function () {
      console.log('particles.json loaded...');
    });
  </script>
</body>

</html>