<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Useful things...?</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/tools.css" />
  </head>
  <body>
    <header>
      <h1><a href="/tools">Tools</a></h1>
      <ul>
        <li><a href="#jsGcodeFacing">JS CNC Gcode Facing Generator</a></li>
      </ul>
    </header>
    <section id="jsGcodeFacing">
      <%- include partials/jsGcode/jsGcode.ejs %>
    </section>
    <script src="js/tools.js"></script>
  </body>
</html>
