/* colors  */
/* blue = #059cd1  */
/* lt.gray = #b0b0b0  */
/* drk.gray = #3a3a3a  */
/*  */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #3a3a3a;
}
a{
    text-decoration: none;
}
#about{
    display: none;
    visibility: hidden;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 40px);
    height: 40px;
    padding: 20px;
    background: #059cd1;
    color: #fff;
    font-size: 2em;
    text-align: center;
    box-shadow: 0px 2px 5px #222;
    z-index: 100;
}
nav span{
    float: left;
    text-align: left;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover{
    color: #3a3a3a;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
nav li{
    float: left;
}

header, section{
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    min-height: 200px;
    width: calc(70% - 80px);
    background: #fff;
    padding: 40px;
    text-align: center;
}
header{
    font-size: 1.25em;
    width: calc(70% - 160px);
    padding: 40px 80px;
}
section{
    min-height: 50px;
    margin-top: 30px;
}
header img{
    width: 225px;
    height: auto;
    border-radius: 50%;
    margin: 0 20px;
}
.title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 5% 0; 
}

.skill_container{
    display: inline-block;
    vertical-align: top;
    width: calc(16% - 14px);
    margin-right: 10px; 
}
.skill_header{
    background: #059cd1;
    padding: 10px 10px;
    color: #fff;
    border: 0px;
}
.skill_container p{
    border: 1px solid #cdcdcd;
    border-top: 0px;
    padding-bottom: 10px;
}
.last{
    margin-right: 0;
}
#project_container{
    margin-bottom: 40px;
}
.project_wrap{
    text-align: left;
}
.project_wrap a{
    color: #059cd1;

}
.project_header{
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px #9f9f9f;
}
#contact_methods{
    margin-bottom: 40px;
}
#contact_methods a{
    display: inline-block;
    margin: 0 15px;
    color: #059cd1;
    font-size: 2em;
}
#contact_methods a:hover{
    color: #3a3a3a;
}

@media screen and (max-width: 1120px) {
    .skill_container{
        width: calc(33% - 14px);
    }
}

@media screen and (max-width: 414px) {
    nav span{
        display: none;
        float: none;
    }
    nav a{
        margin: 0 5px;
    }
    nav ul{
        display: block;
        float: none;
    }
    nav li{
        float: none;
        display: inline-block;
    }
    nav{
        position: relative;
        display: block;
        width: 94%;
        height: auto;
        padding: 3%;
    }
    header, section{
        width: 94%;
        padding: 3%;
        margin-top: 20px;
    }
    .skill_container{
        width: calc(50% - 14px);
    }
    #project_container{
        margin-bottom: 20px;
    }
    #contact_methods{
        margin-bottom: 0px;
    }
}